footer{
    background-color: #393636;
    color: #969fa3;

    padding: 40px;

    text-align: center;
}

footer span{
    color: #c48c8c
}

.campaign-header{
    background-color: rgb(27, 25, 25);
    padding-top: 6px;

}

.campaign-text{
    text-align: center;
    color: aliceblue;
    padding: 5px;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    width: 100%;
    padding-left: 20px;
}

.full-width-image {
    position: relative;
}

.image-text {
    position: absolute;
    top: 23%;
    left: 5%;
    transform: translateY(-50%);
    font-size: 4rem;
    color: #2d2929;
    z-index: 1;
    font-family: 'Roboto Slab', serif;
}



.center-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 100%;
}

.main-nav {
    display: flex;
    gap: 40px;
    justify-content: center;
    width: 100%;
    padding-bottom: 30px;
   
}

.main-nav a:hover {
    font-weight: bold;
    color: #d2bcbc;
}



.full-width-image {
    width: 100%;
    overflow: hidden;
}

.full-width-image img {
    width: 100%;
    height: auto;
    display: block;
}


.main-nav a {
    text-decoration: none;
    color: black;
}

.my-logo{
    width: 10%;
    height: auto;

}




.icon-container {
    text-align: center;
    padding: 60px 60px;

}

.icon-container h2 {
    text-align: center; 
    width: 100%; 
    
    font-size: 50px;
    padding-bottom: 20px;
}

.icon-container a {
    text-decoration: none; 
    color: inherit; 
    margin-right: 30px; 
    display: inline-block;
    vertical-align: middle;
    
}

.icon-container a:last-child {
    margin-right: 0; 
    
}

.icon-container i {
    font-size: 100px; 
    transition: color 0.3s ease; 
    margin-right: 50px;
}


.icon-container a:hover i {
    color: #c48c8c;
    
}

.icon-container .icon1 {
    color: rgb(149, 126, 126);
}

.icon-container .icon2 {
    color: rgb(119, 119, 143);
}

.icon-container .icon3 {
    color: rgb(117, 143, 117);
}

.icon-container .icon4 {
    color: rgb(126, 126, 100);
}

.icon-container .icon5 {
    color: rgb(145, 123, 145);
}


.infospace-top {
    background: #e2dede;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.info-item i {
    font-size: 20px;
}
